/*
Name: Cli
Description: Looks like a terminal.
Version: 1.1
Author: URL: 
*/
.crayon-theme-cli {
	border-width: 1px !important;
	border-color: #999 !important;
	text-shadow: none !important;
	background: #000000 !important;
	border-style: dashed !important;
}
.crayon-theme-cli-inline {
	border-width: 1px !important;
	border-color: #ddd !important;
	border-style: solid !important;
	background: #000000 !important;
}
.crayon-theme-cli .crayon-table .crayon-nums {
	background: #000100 !important;
	color: #00FF00 !important;
	border-right-color: #55a800 !important;
	border-right-width: 2 !important;
}
.crayon-theme-cli .crayon-striped-line {
	background: #000000 !important;
}
.crayon-theme-cli .crayon-striped-num {
	background: #000000 !important;
	color: #00FF00 !important;
}
.crayon-theme-cli .crayon-marked-line {
	background: #000000 !important;
	border-width: 1px !important;
	border-color: #000000 !important;
}
.crayon-theme-cli .crayon-marked-num {
	color: #00FF00 !important;
	background: #000000 !important;
	border-width: 1px !important;
	border-color: #286900 !important;
}
.crayon-theme-cli .crayon-marked-line.crayon-striped-line {
	background: #000000 !important;
}
.crayon-theme-cli .crayon-marked-num.crayon-striped-num {
	background: #000000 !important;
	color: #00FF00 !important;
}
.crayon-theme-cli .crayon-marked-line.crayon-top {
	border-top-style: solid !important;
}
.crayon-theme-cli .crayon-marked-num.crayon-top {
}
.crayon-theme-cli .crayon-marked-line.crayon-bottom {
	border-bottom-style: solid !important;
}
.crayon-theme-cli .crayon-marked-num.crayon-bottom {
}
.crayon-theme-cli .crayon-info {
	background: #faf9d7 !important;
	border-bottom-width: 1px !important;
	border-bottom-color: #b1af5e !important;
	border-bottom-style: solid !important;
	color: #7e7d34 !important;
}
.crayon-theme-cli .crayon-toolbar {
	background: #6da918 !important;
	border-bottom-width: 1px !important;
	border-bottom-color: #779700 !important;
	border-bottom-style: solid !important;
}
.crayon-theme-cli .crayon-toolbar > div {
	float: left !important;
}
.crayon-theme-cli .crayon-toolbar .crayon-tools {
	float: right !important;
}
.crayon-theme-cli .crayon-title {
	color: #87ca00 !important;
}
.crayon-theme-cli .crayon-language {
	color: #266400 !important;
	background-color: #669900 !important;
}
.crayon-theme-cli .crayon-button {
	background-color: #669900 !important;
}
.crayon-theme-cli .crayon-button:hover {
	background-color: #76b800 !important;
	color: #666;
}
.crayon-theme-cli .crayon-button.crayon-pressed:hover {
	background-color: #76b800 !important;
	color: #666;
}
.crayon-theme-cli .crayon-button.crayon-pressed {
	background-color: #4e7a00 !important;
	color: #FFF;
}
.crayon-theme-cli .crayon-button.crayon-pressed:active {
	background-color: #4e7a00 !important;
	color: #FFF;
}
.crayon-theme-cli .crayon-button:active {
	background-color: #4e7a00 !important;
	color: #FFF;
}
.crayon-theme-cli .crayon-pre {
	color: #00FF00 !important;
}
.crayon-theme-cli .crayon-pre .crayon-c {
	color: #3ec700 !important;
}
.crayon-theme-cli .crayon-pre .crayon-s {
	color: #3ec700 !important;
}
.crayon-theme-cli .crayon-pre .crayon-p {
	color: #3ec700 !important;
}
.crayon-theme-cli .crayon-pre .crayon-ta {
	color: #3ec700 !important;
}
.crayon-theme-cli .crayon-pre .crayon-k {
	color: #3ec700 !important;
}
.crayon-theme-cli .crayon-pre .crayon-st {
	color: #3ec700 !important;
}
.crayon-theme-cli .crayon-pre .crayon-r {
	color: #3ec700 !important;
}
.crayon-theme-cli .crayon-pre .crayon-t {
	color: #3ec700 !important;
}
.crayon-theme-cli .crayon-pre .crayon-m {
	color: #3ec700 !important;
}
.crayon-theme-cli .crayon-pre .crayon-i {
	color: #3ec700 !important;
}
.crayon-theme-cli .crayon-pre .crayon-e {
	color: #00FF00 !important;
}
.crayon-theme-cli .crayon-pre .crayon-v {
	color: #00FF00 !important;
}
.crayon-theme-cli .crayon-pre .crayon-cn {
	color: #00FF00 !important;
}
.crayon-theme-cli .crayon-pre .crayon-o {
	color: #00FF00 !important;
}
.crayon-theme-cli .crayon-pre .crayon-sy {
	color: #00FF00 !important;
}
.crayon-theme-cli .crayon-pre .crayon-n {
	color: #00FF00 !important;
	font-style: italic !important;
}
.crayon-theme-cli .crayon-pre .crayon-f {
	color: #00FF00 !important;
}
.crayon-theme-cli .crayon-pre .crayon-h {
	color: #00FF00 !important;
}
