.page .entry-header h1.entry-title {
    margin-left: 0;
    border-bottom: 3px;
    border-bottom-color: #e66432;
    border-bottom-style: solid;
    padding-bottom: 5px;
}

.hentry {
    margin: 0 0 40px;
    background: #FFF;
    padding: 27px;
    margin-bottom: 40px;
    position: relative;
}

.entry-thumb {
    margin: -20px -20px 30px;
    text-align: left;
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
}

.posted-on {
    position: absolute;
    left: 13px;
    top: -14px;
    background: #E66432;
    width: 60px;
    text-align: center;
    color: #FFF;
    font-size: 14px;
    padding: 10px;
    line-height: 1.2;
    text-transform: uppercase;
}


#pt-cv-view-cda118etdv .pt-cv-ifield {
    background-color: #ffffff !important;
    margin-bottom: 18px!important;
    border-bottom: solid;
  	border-bottom-color: #e66432;
    border-bottom-width: 3px;
}

#pt-cv-view-cda118etdv .cvp-responsive-image {
    width: 100%;
    height: 300px;
}

#pt-cv-view-cda118etdv .pt-cv-title a, #pt-cv-view-cda118etdv .panel-title {
    display: block;
    font-size: 21px !important;
    font-weight: 400;
    line-height: 1.3 !important;
    margin: 0px 15px 3px 15px;
}

#pt-cv-view-cda118etdv .pt-cv-title:hover a, #pt-cv-view-cda118etdv .panel-title:hover {
    color: #00aeef;
}

#pt-cv-view-cda118etdv .pt-cv-meta-fields *:not(.glyphicon) {
    display: block;
    color: #555;
  	font-size: 14px !important;
    line-height: 1.3 !important;
    margin: 0px 7px 3px 7px;
}

#pt-cv-view-cda118etdv .pt-cv-content {
    display: block;
    font-size: 15px;
    font-weight: 300;
  	color: #555;
    line-height: 1.3;
    margin: 0px 15px 25px 15px;
}

#pt-cv-view-cda118etdv .pt-cv-readmore {
    color: #ffffff !important;
    background-color: #e66432 !important;
    font-size: 14px;
    font-weight: 300;
    margin: 5px 10px 0px 10px;
    padding-top: 10px;
    float: right;
}

#pt-cv-view-cda118etdv .pt-cv-readmore:hover {
    color: #ffffff !important;
    background-color: #00aeef !important;
    border: none !important;
}


#pt-cv-view-445c68aur5 .pt-cv-title a, #pt-cv-view-445c68aur5 .panel-title {
    font-weight: 400 !important;
}

#pt-cv-view-445c68aur5 .pt-cv-meta-fields *:not(.glyphicon) {
    font-size: 14px !important;
    line-height: 1.3 !important;
    color: #555;
}

#pt-cv-view-445c68aur5 .pt-cv-content {
    font-size: 16px !important;
    line-height: 1.3 !important;
}

#pt-cv-view-445c68aur5 .pt-cv-readmore {
    color: #ffffff !important;
    background-color: #e66432 !important;
}

#pt-cv-view-445c68aur5 .pt-cv-readmore:hover {
    color: #ffffff !important;
    background-color: #00aeef !important;
    border: none !important;
}


#pt-cv-view-ed2d1f6wfd .pt-cv-title a, #pt-cv-view-ed2d1f6wfd .panel-title {
    font-weight: 400 !important;
}

#pt-cv-view-ed2d1f6wfd .pt-cv-meta-fields *:not(.glyphicon) {
    font-size: 14px !important;
    line-height: 1.3 !important;
    color: #555;
}

#pt-cv-view-ed2d1f6wfd .pt-cv-content {
    font-size: 16px !important;
    line-height: 1.3 !important;
}

#pt-cv-view-ed2d1f6wfd .pt-cv-readmore {
    color: #ffffff !important;
    background-color: #e66432 !important;
}

#pt-cv-view-ed2d1f6wfd .pt-cv-readmore:hover {
    color: #ffffff !important;
    background-color: #00aeef !important;
    border: none !important;
}


#pt-cv-view-5d80678r8n .pt-cv-title a, #pt-cv-view-5d80678r8n .panel-title {
    font-weight: 400 !important;
}

#pt-cv-view-5d80678r8n .pt-cv-meta-fields *:not(.glyphicon) {
    font-size: 14px !important;
    line-height: 1.3 !important;
    color: #555;
}

#pt-cv-view-5d80678r8n .pt-cv-content {
    font-size: 16px !important;
    line-height: 1.3 !important;
}

#pt-cv-view-5d80678r8n .pt-cv-readmore {
    color: #ffffff !important;
    background-color: #e66432 !important;
}

#pt-cv-view-5d80678r8n .pt-cv-readmore:hover {
    color: #ffffff !important;
    background-color: #00aeef !important;
    border: none !important;
}


#pt-cv-view-c453c9eexh .pt-cv-title a, #pt-cv-view-c453c9eexh .panel-title {
    font-weight: 400 !important;
}

#pt-cv-view-c453c9eexh .pt-cv-meta-fields *:not(.glyphicon) {
    font-size: 14px !important;
    line-height: 1.3 !important;
    color: #555;
}

#pt-cv-view-c453c9eexh .pt-cv-content {
    font-size: 16px !important;
    line-height: 1.3 !important;
}

#pt-cv-view-c453c9eexh .pt-cv-readmore {
    color: #ffffff !important;
    background-color: #e66432 !important;
}

#pt-cv-view-c453c9eexh .pt-cv-readmore:hover {
    color: #ffffff !important;
    background-color: #00aeef !important;
    border: none !important;
}


#pt-cv-view-64798c88b7 .pt-cv-title a, #pt-cv-view-64798c88b7 .panel-title {
    font-weight: 400 !important;
}

#pt-cv-view-64798c88b7 .pt-cv-meta-fields *:not(.glyphicon) {
    font-size: 14px !important;
    line-height: 1.3 !important;
    color: #555;
}

#pt-cv-view-64798c88b7 .pt-cv-content {
    font-size: 16px !important;
    line-height: 1.3 !important;
}

#pt-cv-view-64798c88b7 .pt-cv-readmore {
    color: #ffffff !important;
    background-color: #e66432 !important;
}

#pt-cv-view-64798c88b7 .pt-cv-readmore:hover {
    color: #ffffff !important;
    background-color: #00aeef !important;
    border: none !important;
}

#s60-specs {
  	font-size: 13px;
    color: #333;
    border-collapse: collapse;
    width: 100%;
}

#s60-specs td, #s60-specs th {
    border: 1px solid #ddd;
    padding: 3px;
}

#s60-specs tr:hover {background-color: #ddd;}

#FUSE {
  	font-size: 14px;
    color: #333;
    border-collapse: collapse;
    width: 100%;
}

#FUSE td, #FUSE th {
    border: 1px solid #ddd;
    padding: 3px;
}

#FUSE tr:nth-child(even){background-color: #f2f2f2;}

#FUSE tr:hover {background-color: #ddd;}

#FUSE th {
  	background-color: #ffffff;
}

#inline-defs {
  font-size: 15px;
  margin-left: 30px;
}

#cryn-cap {
  font-size: 12px;
  font-style: italic;
  margin-top: -21px;
}

fnote {
  font-size: 13px;
}

.adsbygoogle {
  background: none;
}

#table-specs {
  	font-size: 13px;
    color: #333;
    border-collapse: collapse;
    width: 100%;
}

#table-specs td, #table-specs th {
    border: 1px solid #ddd;
    padding: 3px;
}

#table-specs tr:hover {background-color: #ddd;}