body {
  font-family: "Baskerville", "Times New Roman", "Times", serif;
  background-image: url('/images/background.png');
  color: #202020;
  line-height: 20px;
}

a {
  color: #202020;
}

#rh_image {
  margin-left: 260px;
  width: 120px;
  font-size: 11px;
  text-align: center;
}

#rh_image img {
  border: 1px solid #000;
}

#rh_main {
  width: 640px;
  margin-left: auto;
  margin-right: auto;
  background-image: url('/images/flourish.png');
  background-repeat: no-repeat;
  background-position: top left;
}

#rh_title {
  width: 240px;
  margin-top: 67px;
  margin-right: 20px;
  float: left;
  text-align: right;
}

#rh_title h1 {
  font-size: 72px;
  line-height: 60px;
  font-weight: normal;
  color: #000;
}

#rh_title h2 {
  font-size: 18px;
  line-height: 20px;
  font-weight: normal;
  width: 120px;
  margin-top: 17px;
  margin-left: 120px;
}

#rh_menu {
  margin-top: 84px;
  width: 240px;
  float: right;
}

#rh_menu li {
  font-size: 18px;
}

#rh_intro {
  clear: left;
  width: 240px;
  float: left;
  text-align: right;
  margin-top: 120px;
}

#rh_recent {
  margin-top: 121px;
  margin-bottom: 20px;
  width: 240px;
  float: right;
}

#rh_recent h3 {
  line-height: 20px;
  font-weight: normal;
  font-size: 18px;
  color: #000;
}

#rh_recent ul {
  margin-left: 20px;
  margin-top: 0px;
}

#rh_recent li {
  line-height: 20px;
  font-size: 14px;
}

.rhc_twitterlink {
  font-family: arial;
  font-size: 12px;
  line-height: 18px;
}
