#rh_main {
  width: 880px;
}

#rh_menu {
  margin-top: 120px;
  float: left;
  text-align: right;
}

#rh_content {
  width: 437px;
  margin-top: 180px;
  margin-bottom: 20px;
  padding: 20px;
  padding-top: 22px;
  padding-left: 40px;
  border: 1px solid black;
  background-image: url('/images/content_background.png');
  float: right;
  color: #404040;
}

.rhc_date {
  color: #000;
  text-align: right;
  margin-top: 0px !important;
  margin-bottom: 0px;
}

#rh_content h1 {
  margin-top: 21px;
  margin-left: -20px;
  color: #000;
  font-size: 19px;
  font-weight: 600;
}

#rh_content h2, #rh_content h3, #rh_content h4, #rh_content h5, #rh_content h6 {
  margin-top: 20px;
  margin-left: -20px;
  color: #000;
  font-size: 16px;
  line-height: 20px;
  font-weight: normal;
}

#rh_content p {
  margin-bottom: 10px;
}

#rh_content b {
  font-weight: 600;
}

#rh_content code {
  line-height: 18px;
}

#rh_content pre, #rh_content .rhc_table {
  overflow: auto;
  width: 417px;
}

#rh_content blockquote, #rh_content pre, #rh_content .rhc_table {
  border: 1px solid #000;
  margin-bottom: 20px;
  padding: 9px;
  background-image: url('/images/content_background.png');
}

#rh_content ul, #rh_content ol {
  margin-bottom: 10px;
}

#rh_content ul ul, #rh_content ol ol {
  margin-bottom: 0;
}

#rh_content ul{
  list-style: square outside;
}

#rh_content ol {
  list-style: decimal outside;
}

#rh_content li {
  margin-left: 20px;
}

#rh_content table {
  border-collapse: collapse;
}

#rh_content th {
  background-color: #ccc;
  color: #000;
}

#rh_content td, #rh_content th {
  border: 1px solid #000;
  padding: 9px;
}

hr {
  margin-bottom: 9px;
  height: 1px;
  width: 72px;
  color: #000;
  background-color: #000;
}

#contactform ol {
  list-style: none;
  margin-right: 40px;
}

#contactform label {
  margin-left: -20px;
  display: block;
  float: left;
  overflow: hidden;
  width: 120px;
}

#contactform li {
  margin-bottom: 10px;
}

#contactform li.error {
	color: #c00;
}

#contactform .textfield {
  width: 260px;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 14px;
  padding: 2px;
  border: 1px solid #202020;
  position: relative;
  top: -1px;
  height: 18px;
}

#contactform .textareafield {
  width: 260px;
  padding: 2px;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 12px;
  border: 1px solid #202020;
}

.submitbutton {
  margin-left: 100px;
}
.rhc_article_comment_intro, #contactform p {
  font-style: italic;
  font-size: 14px;
}

input, .textareafield {
}
