﻿@model ModelViewViewModel.ViewModels.AboutViewModel
@{
    ViewData["Title"] = "About page";
}
<h2>Hello</h2>

<p>This is the About page. The result of the complicated logic call is @Model.LogicMethods.GetComplicatedLogic()</p>
