﻿@model ModelViewViewModel.ViewModels.IndexViewModel
@{
    ViewData["Title"] = Model.User.FirstName + " " + Model.User.SurnameName + "'s homepage";
}

<div class="row">
    <div class="col-md-12">
        <h2>Hello, @Model.User.FirstName @Model.User.SurnameName!!</h2>
    </div>
</div>
